<div class="card bg-light mb-3 w-100">
  <div class="card-header font-weight-bold">Liste des Referentiels</div>
  <div class="card-body">
    <h4 [routerLink]="['add']" class="card-title btn btn-info"><i class="fa fa-user-plus" aria-hidden="true"></i>
      Create</h4>

    <div class="row">
      <app-item-referentiel *ngFor="let ref of referentiels" class="col-sm-4 mb-4" [refs]='ref'></app-item-referentiel>
    </div>
  </div>
</div>





<!--<div class="card bg-light mb-3 w-100">
  <div class="card-header font-weight-bold">Liste des Referentiels</div>
  <div class="card-body">
    <h4 [routerLink]="['add']" class="card-title btn btn-info"><i class="fa fa-user-plus" aria-hidden="true"></i>
    Create</h4>

  <div class="row">
    <app-item-referentiel *ngFor="let reference of referentiels" class="col-sm-4 mb-4" [refs]='reference'></app-item-referentiel>
  </div>
  </div>
</div>

<div class="container">
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default"  *ngFor="let reference of referentiels">
      <div class="panel-heading" role="tab" id="heading{{reference.id}}">
        <h4 class="p-3 mb-2 bg-info text-white">
          <a role="button" data-toggle="collapse" data-parent="#accordion" href="{{'#collapse'+reference.id}}" aria-expanded="true" aria-controls="collapseOne">
            <h4>#Cliquez pour voir les details de ce Referentiel</h4>
          </a>
        </h4>
      </div>
      <div id="collapse{{reference.id}}" class="panel-collapse collapse in" role="tabpanel">
        <div class="col-sm-12 col-sm-12 item">
          <div class="card item-card card-block">
            <h3 class="item-card-title mt-3 mb-3">{{reference.libelle}}</h3>
            <img src="https://static.pexels.com/photos/7096/people-woman-coffee-meeting.jpg" alt="Photo of sunset">
            <h3 class="item-card-title mt-3 mb-3">{{reference.presentation }}</h3>
            <h3 class="item-card-title mt-3 mb-3">{{reference.criteresAdmission }}</h3>
            <h3 class="item-card-title mt-3 mb-3">{{reference.criteresEvaluation }}</h3>
             <h3 class="card-img-top"><img src="{{'data:image/jpg;base64,' +refs.programme}}" class="avatar" alt=""></h3>-->
            <!--<button (click)="generatePdf()">Open PDF</button>-->
            <!--<input type="button" (click)="getFile()" value="Get File" />
            <a class="p-3 mb-2 bg-info text-white" role="button" data-toggle="collapse" data-parent="#accordion" href="{{'#demo'+reference.id}}" aria-expanded="true" aria-controls="collapse">
              <h5>#Cliquez pour voir les groupes de competences</h5>
            </a>
            <div id="demo{{reference.id}}" class="collapse">
              <h3 class="item-card-title mt-3 mb-3" *ngFor="let ref of reference.groupeCompetences">{{ref.libelle }}</h3>
              <h3 class="item-card-title mt-3 mb-3" *ngFor="let ref of reference.groupeCompetences">{{ref.descriptif }}</h3>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
-->



