<h1 class="ajou">Ajouter Promo</h1>
<form class="form">
  <div class="form-group">
    <label for="exampleFormControlSelect1">Choix de la langue</label>
    <select class="form-control" formControlName="langue" id="exampleFormControlSelect1">
      <option>Ang</option>
      <option>Fr</option>
      <option>Esp</option>
    </select>
  </div>
  <div class="form-group">
    <label for="">Titre:</label>
    <input type="text" class="form-control" formControlName="titre">
  </div>
  <div class="form-group">
    <label for="">Description:</label>
    <input type="text" class="form-control" formControlName="description">
  </div>
  <div class="form-group">
    <label for="">Lieu:</label>
    <input type="text" class="form-control" formControlName="lieu">
  </div>
  <div class="form-group">
    <label for="">Refernce-Agate:</label>
    <input type="text" class="form-control" formControlName="referenceAgate">
  </div>
  <div class="form-group">
    <label for="example-date-input">Date-Debut:</label>
    <input class="form-control" type="date" value="" id="example-date-input" formControlName="dateDebut">
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Choix de la Fabrique</label>
    <select class="form-control" formControlName="fabrique" id="exampleFormControlSelect">
      <option>fabrique</option>
      <option>fabrique</option>
      <option>fabrique</option>
    </select>
  </div>
  <div class="form-group">
    <label for="example-date">Date-Fin:</label>
    <input class="form-control" type="date" value="" id="example-date" formControlName="dateDebut">
  </div>
    <div class="">
      <button click="ajouPromo()" class="btn btn-primary btn-lg">Valider</button>
    </div>
</form>
